<div class="row">
  <div class="col m6 offset-m3 center">
    <h5>Edit <%= resource_name.to_s.humanize %></h5>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    

    <div class="field">
      <%= f.text_field :name, :id => "name", autofocus: true, :class =>"validate", :placeholder => "Name"  %>
    </div>

    <div class="field">
      <%= f.email_field :email, :id => "email", :class =>"validate", :placeholder => "Email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="input-field">
      <%= f.password_field :password, :id => "password", :placeholder => "New password (leave blanck if you dont want to change it)", :class => "validate", autocomplete: "off" %>
    </div>
    
    <div class="input-field">
      <%= f.password_field :password_confirmation, :id => "password_confirmation", :placeholder => "Confirm password", :class => "validate", autocomplete: "off" %>
    </div>

    <div class="input-field">
      
      <%= f.password_field :current_password, :id => "current_password", :placeholder => "Type current password to confirm your change", :class => "validate", autocomplete: "off" %>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
    <button class="btn waves-effect waves-light"><%= link_to "",  edit_user_registration_path %>Back</button>
    </div>
    <% end %>
  </div>
  <%= render partial: "shared/devisemes" %>
</div>

