<!DOCTYPE html>
<html>
  <head>
    <title>Skill Mentor Academy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>

    <%= yield :head  %>
    <!-- Sumo me share bar -->
    <script src="//load.sumome.com/" data-sumo-site-id="b9620351c755bc3d10fdb33231d82dcc6484a58d14dad8dfc63178a60d66aa1d" async="async"></script>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90476950-1', 'auto');
      ga('send', 'pageview');
    </script><!-- / Google analytics -->

    
    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    $.src="https://v2.zopim.com/?4WPmpld406TAYhQYHnscKbQh9p1LCvIS";z.t=+new Date;$.
    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zendesk Chat Script-->

  </head>

  <body>
    <%= render partial: "shared/header" %>
    <%= render partial: "shared/message" %>
  	<main>
  		<div class="container">
  			<%= yield %>

  		</div>
  		
  	</main>
   	<%= render partial: "shared/footer" %>
  </body>

  <script>
  	$(".button-collapse").sideNav();
  	$(".dropdown-button").dropdown();
  </script>

</html>
